@charset "utf-8";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}

h1 {
  font-size: 24px;
  padding-bottom: 8px;
}

a {
  color: rgb(75, 75, 75);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid rgb(175, 175, 175);
  padding-bottom: 5px;
}
